/* Fonts */

@font-face {
  font-family: 'Core Sans G 45 Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Core Sans G 45 Regular'), url('../src/assets/fonts/CoreSansG45Regular.woff') format('woff');
}

@font-face {
  font-family: 'Core Sans G 65 Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Core Sans G 65 Bold'), url('../src/assets/fonts/CoreSansG65Bold.woff') format('woff');
}

/* Root Styles */

@import-normalize;

:root {

  --body-color: #f5f5f5;
  --sidebar-color: #f9f9f9;
  --primary-color: #0054fd;
  --secondary-color: #9ca3ad;
  --text-color: #0d1c2d;

}

body {
  font-family: 'Core Sans G 65 Bold', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--body-color);
}